---
http_interactions:
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/husky?key=<MERRIAM_WEBSTER_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"husky:1","uuid":"92cdaae3-5123-4971-b909-c81ddda40cd3","sort":"080314600","src":"collegiate","section":"alpha","stems":["huskier","huskiest","huskily","huskiness","huskinesses","husky"],"offensive":false},"hom":1,"hwi":{"hw":"hus*ky","prs":[{"mw":"\u02c8h\u0259-sk\u0113","sound":{"audio":"husky001","ref":"c","stat":"1"}}]},"fl":"adjective","ins":[{"if":"hus*ki*er"},{"ifc":"-est","if":"hus*ki*est"}],"def":[{"sseq":[[["sense",{"dt":[["text","{bc}hoarse
        with or as if with emotion"]]}]]]}],"uros":[{"ure":"hus*ki*ly","prs":[{"mw":"\u02c8h\u0259-sk\u0259-l\u0113","sound":{"audio":"husky003","ref":"c","stat":"1"}}],"fl":"adverb"},{"ure":"hus*ki*ness","prs":[{"mw":"\u02c8h\u0259-sk\u0113-n\u0259s","sound":{"audio":"husky004","ref":"c","stat":"1"}}],"fl":"noun"}],"et":[["text","probably
        from {it}husk{\/it} huskiness, from obsolete {it}husk{\/it} to have a dry
        cough"]],"date":"circa 1722","shortdef":["hoarse with or as if with emotion"]},{"meta":{"id":"husky:2","uuid":"bd7d4829-f2cb-4e9a-9a2a-71b9c48e47a8","sort":"080314700","src":"collegiate","section":"alpha","stems":["huskies","husky"],"offensive":false},"hom":2,"hwi":{"hw":"hus*ky","prs":[{"mw":"\u02c8h\u0259-sk\u0113","sound":{"audio":"husky001","ref":"c","stat":"1"}}]},"fl":"noun","ins":[{"il":"plural","if":"hus*kies"}],"def":[{"sseq":[[["sense",{"sn":"1","dt":[["text","{bc}{sx|siberian
        husky||}"]]}]],[["sense",{"sn":"2","dt":[["text","{bc}a heavy-coated working
        dog of the New World arctic region"]]}]]]}],"et":[["text","shortening of {it}Huskemaw,
        Uskemaw{\/it} Eskimo, from Cree {it}a\u0161kime\u00b7w{\/it}; akin to Montagnais
        (Algonquian language of eastern Canada) {it}aiachkime8{\/it} Micmac, Eskimo
        {ma}{mat|eskimo|}{\/ma}"]],"date":"1852{ds||2||}","shortdef":["siberian husky","a
        heavy-coated [...]
